/* rem and em do not depend on html font-size in media queries! */
/*Instead we assume 1rem = 1em = 16px  */

/* ***************************** */
/* Below 1344px (Smaller desktops)*/
/* ***************************** */

@media (max-width: 84em) {
  html {
    /* 8px / 16 = 0.5 =50%  */
    font-size: 50%;
  }
}

/* ***************************** */
/* Below 1200px (Landscape Tablets)*/
/* ***************************** */

@media (max-width: 75em) {
  html {
    /* 8px / 16 = 0.5 =50%  */
    font-size: 50%;
  }
}

/* ***************************** */
/* Below 944px (Tablets)*/
/* ***************************** */

@media (max-width: 59em) {
  html {
    /* 8px / 16 = 0.5 =50%  */
    font-size: 50%;
  }

  #satus.succes {
    font-size: 2rem;
  }

  .services {
    height: 160vh;
    width: 90%;
  }
}

/* ***************************** */
/* Below 704px (Smaller Tablets)*/
/* ***************************** */

@media (max-width: 44em) {
  html {
    /* 8px / 16 = 0.5 =50%  */
    font-size: 50%;
  }
  .services {
    width: 100%;
  }

  .container {
    width: 80%;
  }
}

/* ***************************** */
/* Below 544px (Phones)*/
/* ***************************** */

@media (max-width: 34em) {
}
